# Archivos basura de Python (NO SUBIR)
__pycache__/
*.pyc

# Entornos virtuales (NO SUBIR)
.venv/
venv/
env/

# Archivos de sistema (NO SUBIR)
.DS_Store

# --- IMPORTANTE: QUEREMOS SUBIR LOS DIAGRAMAS ---